<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de producto</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="container">
        <a th:href="@{/productos}">Regresar</a>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <div th:if="${success}" th:text="${success}" style="color: green;"></div>
        <div class="formulari">
            <h1>Regístrate</h1>
            <form th:action="@{/productos/guardar}" th:object="${producto}" method="POST">
                <label for="nombre">
                    <span>Ingresa tu nombre</span>
                    <input type="text" id="nombre" th:field="*{nombre}" autocomplete="name" required>
                </label>

                <label for="tipoDocumento">
                    <span>Tipo de documento</span>
                    <select id="tipoDocumento" th:field="*{tipoDocumento}">
                        <option value="cc">CC</option>
                        <option value="ce">CE</option>
                        <option value="nit">NIT</option>
                        <option value="pasaporte">PAS</option>
                        <option value="ti">TI</option>
                        <option value="cex">CEX</option>
                        <option value="ptp">PTP</option>
                        <option value="rc">RC</option>
                    </select>
                </label>

                <label for="numeroDocumento">
                    <span>Ingresa tu número de documento</span>
                    <input type="number" id="numeroDocumento" th:field="*{numeroDocumento}" required>
                </label>

                <label for="email">
                    <span>Ingresa tu email</span>
                    <input type="email" id="email" th:field="*{email}" required>
                </label>

                <label for="telefono">
                    <span>Ingresa tu teléfono</span>
                    <input type="number" id="telefono" th:field="*{telefono}" required>
                </label>

                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
</body>
</html>
